# LAB2 - TIER protocol i tidy data

## Michał Święciło

In [137]:
import pandas as pd

## Zadanie 1

Celem ćwiczenia było pobranie i uporządkowanie przydzielonego zbioru danych zgodnie z protokołem TIER i zasadami "tidy data". Numer datasetu uzyskiwany był ze wzoru (N mod 5) +1, gdzie N to liczba liter w nazwisku.

In [138]:
# Obliczanie numeru zbioru danych
dataset_number = len('Swiecilo') % 5 + 1
print("Numer Datasetu =", dataset_number)

Numer Datasetu = 4

In [139]:
# Wczytywanie orginalnych danych
df = pd.read_csv("..\Original Data\drinks.csv")

df.head()
# print(df.to_string())

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9