# Przetwarzanie danych

## Michał Święciło

In [88]:
import pandas as pd

In [89]:
# Wczytywanie orginalnych danych
df = pd.read_csv("..\Original Data\drinks.csv")

# Wyświetlenie kilku pierwszych rekordów  
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [90]:
# Wyświetlenie informacji o bazie danych
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [91]:
# Zapisanie danych przygotowanych do analizy
df.to_csv(path_or_buf="..\Analysis Data\processed_drinks.csv", index=False)